@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  justify-content: center;
  align-items: start;
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-size: 1.4rem;
  background-color: #000;
  background-image: url("2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Poppins", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding-top: 150px;
  width: 600px;
  height: auto;
}

.container_search {
  display: flex;
  width: auto;
  justify-content: center;
}

h2 {
  text-align: center;
  margin-bottom: 10px;
  color: #fff;
}

input {
  width: 280px;
}

input,
button {
  margin: 20px 5px;
  font-size: 1.2rem;
  padding: 7px 10px;
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 10px;
}

button {
  padding: 10px 15px;
  background-color: #87cb91;
}

button:hover {
  cursor: pointer;
  background-color: #000;
  color: white;
  transition: 0.5s;
}

div {
  width: 600px;
  margin: 10px 5px;
  color: lightgreen;
}

ul {
  width: 358px;
  padding: 25px 30px;
  list-style: none;
  border-radius: 0px;
  text-align: left;
  background-color: #000000;
  opacity: 0.8;
  border-radius: 25px;
}
li {
  margin: 3px 0;
}
a {
  text-decoration: none;
  color: greenyellow;
}
span {
  color: white;
}
sup {
  font-size: 1.1rem;
  color: #999;
}
.error {
  color: red;
  font-weight: bold;
  background-color: #fff;
}

@media (max-width: 500px) and (orientation: portrait) {
  #root {
    width: 100vw;
    height: 100vh;
    font-size: 1.1rem;
    background-color: #000;
    background-image: url("2.jpg");
    background-size: cover;
    background-position: center;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 360px;
    margin: 0 auto;
  }

  .container_search {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  input,
  button {
    display: flex;
    margin: 10px;
    font-size: 1rem;
    padding: 10px 15px;
  }

  ul {
    width: 300px;
  }
}

@media (max-height: 500px) and (orientation: landscape) {
  #root {
    width: 100vw;
    height: 100vh;
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
  }

  h2 {
    margin: 0;
  }

  .container {
    display: flex;
    flex-direction: column;
    margin: 0;
    align-self: center;
    padding: 0;
  }

  .container_search {
    display: flex;
    justify-content: center;
    margin: 0;
  }

  input {
    width: 210px;
  }

  input,
  button {
    margin: 10px 5px;
    font-size: 1rem;
  }

  ul {
    width: 300px;
    padding: 20px;
  }
}
