@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

body {
  font-size: 1.5rem;
  background-color: #000;
  background-image: url("background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Poppins", sans-serif;
}

#root {
  margin: 50px 30% 0 45%;
  text-align: center;
}

h2 {
  margin: 10px 0;
  color: #000;
}
h3 {
  margin: 10px 0;
}

input,
button {
  margin: 20px 5px;
  font-size: 1.2rem;
  padding: 7px 20px;
  background-color: #fff;
  border: 1px solid black;
}

button:hover {
  cursor: pointer;
  background-color: black;
  color: white;
  transition: 0.5s;
}

div {
  width: 600px;
  margin: 10px 5px;
  color: lightgreen;
}
ul:hover {
  box-shadow: 0px 0px 10px 5px black;
  transition: 0.3s;
}

ul {
  width: 450px;
  margin: 5px auto;
  padding: 1px 20px;
  list-style: none;
  border-radius: 0px;
  text-align: left;
  background-color: #015b7f;
  opacity: 0.7;
}
li {
  margin: 3px 0;
}
a {
  text-decoration: none;
  color: greenyellow;
}
span {
  color: white;
}
sup {
  font-size: 1.1rem;
  color: white;
}
